/* Navigation */

.header{
    width: 100%;
    height: 60px;
    display: flex;
}
.studio{
    margin: 0 0 0 20px;
}
.logo{
    width: 10%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.imagelogo{
    width: 40px;
    height: 60px;
    margin: 0 0 0 20px;
}

.contact{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.M{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px 0 0;
}
.menu{
    width: 50px;
    height: 30px;
}
.btn{
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 25px;
    background-color: black;
    border:0;
    margin: 0 40px 0 0;
}

@media screen and (max-width: 773px) {
    .contact {
       display: 100px;
       color: transparent;
    }
}
/* 1ère section */
:root{
    --decalage : 20px 0 0 100px;
}
.what{
    margin: 100px 0 0 100px;
    font-size: 20px;
}

.have{
    font-size: 50px;
    font-weight: bold;
    margin: var(--decalage)
}
.you{
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0 0 125px
}
.chec{
    font-weight: bold;
    border-bottom: solid 1px black;
}
/* Images */
.images{
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */

}
.image2{
    width: 50%;
    height: 500px;
}
.image1{
    width: 20%;
    height: 500px;
}
@media screen and (max-width: 773px) {
    .images{display: block;
        

    
    }
        .image2{
            width: 75%;
            height: 500px;
            
        }
        .image1{
            width: 75%;
            height: 500px;
          
        }
    }
/* Chec */
.chec1{
    background-color: red;
    width: 100%;
    height: 100px;
    margin: 30px 0;
}
.etoile{
    width: ;
}